
The basic tester report contains:

1. `Look, what I've found!` (tickets)
2. `I don't feel so good`
   1. Hadn't tested properly ***%_that_part_%*** / blocked
   2. These checks were unclear
   3. That was hard/inconvenient to test
   4. App was shaky to set up
3. `I had an idea!`(testability / challenge current processes)
4. `Launch time!` (Time spent)